@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  --paragraph: 16, 17, 20;
  --background: 229, 230, 240;
  --primary: 41, 49, 97;
  --secondary: 122, 137, 220;
  --accent: 32, 55, 203;
  background: rgba(var(--background));
}
.dark {
  --paragraph: 235, 236, 239;
  --background: 15, 16, 26;
  --primary: 158, 166, 214;
  --secondary: 35, 50, 133;
  --accent: 52, 75, 223;
  background: rgba(var(--background));
}

.box-shadow {
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
